.modal {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;
  /* z-index: 450; */
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.651);
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 80%;
  max-width: 650px;
  margin: 100px auto;
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0px -1px 9px 6px #68686866;
}

.photo img {
  height: 150px;
  border-radius: 10px;
}

.desc {
  padding: 10px;
  margin-left: 10px;
}
.desc h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.desc p {
  font-size: 1rem;
}
.link {
  margin: 3px 0px;
}
.link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 450px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc h1 {
    font-size: 0.8rem;
  }
  .desc p {
    font-size: 0.7rem;
  }
  .link a {
    font-size: 0.6rem;
  }
}
