.question {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  height: 50vh;
  padding: 0px 10px;
}

.question h1 {
  text-align: center;
  font-size: 1.3rem;
}
.question,
.btn {
  display: flex;
  margin: 20px 0px;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 768px) {
  .question h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .question {
    position: absolute;
    bottom: 135px;
    left: 0;
    width: 50vw;
    padding-left: 50px;
  }
  .question h1 {
    text-align: left;
  }
  .btn {
    justify-content: left;
  }
}

@media screen and (min-width: 2560px) {
  .question {
    height: 30vh;
    bottom: 25%;
    right: 0;
    padding-left: 100px;
  }
  .question h1 {
    width: 80%;
    text-align: left;
    font-size: 3.5rem;
  }
  .btn {
    justify-content: left;
  }
}
