.wrapper {
  height: 100vh;
  background: rgb(255, 216, 41);
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    background-image: linear-gradient(
      115deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255) 60%,
      rgb(255, 216, 41) 60%,
      rgb(255, 216, 41)
    );
  }
}
