.wrapper {
  height: 50vh;
  overflow: hidden;
}

.answer {
  overflow: hidden;
}
.photo {
  display: block;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0px;
  width: 250px;
}

svg {
  position: absolute;
  bottom: 35px;
  right: 135px;
  width: 190px;
}

.photo img {
  overflow: hidden;
  position: relative;
  width: 100%;
  bottom: -10px;
  right: -40px;
}

@media screen and (min-width: 768px) {
  svg {
    width: 265px;
    bottom: 125px;
    right: 215px;
  }
  .photo {
    width: 380px;
  }
}

@media screen and (min-width: 1024px) {
  .quoteWrapper {
    height: 300px;
    position: relative;
    width: 300px;
  }
  .text {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 216, 41, 1) 0%,
      rgba(255, 216, 41, 1) 70%,
      rgba(255, 216, 41, 0) 70.3%
    );
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    /* background: red; */
  }
  .text::before {
    content: "";
    float: left;
    height: 100%;
    width: 50%;
    shape-outside: polygon(
      0 0,
      98% 0,
      50% 6%,
      23.4% 17.3%,
      6% 32.6%,
      0 50%,
      6% 65.6%,
      23.4% 82.7%,
      50% 94%,
      98% 100%,
      0 100%
    );
    shape-margin: 7%;
  }

  .text p {
    font-size: 25px;
    height: 100%;
    text-align: center;
  }

  .text p::before {
    content: "";
    float: right;
    height: 100%;
    width: 50%;
    shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
    );
    shape-margin: 7%;
  }

  svg {
    bottom: 245px;
    right: 245px;
    width: 280px;
  }
  svg path {
    fill: rgb(255, 216, 41);
    stroke: black;
  }

  .photo {
    width: 550px;
  }
  .photo img {
    right: -130px;
  }

  .answer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
  }
}
@media screen and (min-width: 1440px) {
  .photo {
    width: 820px;
  }
  svg {
    bottom: 460px;
    right: 405px;
    width: 420px;
  }
}

@media screen and (min-width: 2560px) {
  svg {
    bottom: 820px;
    right: 850px;
    width: 500px;
  }
  .photo {
    width: 65%;
  }
  svg path {
    stroke: none;
  }
}
